@import "utils/variables.scss";

body {
    font-family: $font-text;
    max-width: $max-width;
    margin: auto;
    margin-top: 20px;
}

header {
    background-color: $color-secondary;
    display: flex;
    
    height: 91px;

    img {
        margin: auto;
        margin-left: 28px;
        width: 178px;
        height: 60.93px;
        flex: 0 0 auto;
    }

    nav {
        flex: 1;
       display: flex;
       justify-content: space-around;
       align-items: center;
        a {
            text-decoration: none;
            color: white;
        }
    }
    
}

main {
    display: flex;
    width: 100;
   
}
.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dashboard{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.left-side-bar {
    width: 117px;
    min-height: $min-height;
    height: 100%;
    background-color: $color-secondary;
    color: white; 
  }


.pieChart {
    background-color: rgb(188, 188, 188);
}

.radar-chart {
    fill: $radar-color;
}

.bar-chart {
    &-1 > path{
        color: $color-primary;
    }
}