@import "utils/variables.scss";
@import '../components/userActivity/barChart.scss';
@import '../components/userAverageSessions/lineChart.scss';
@import '../components/UserPerformance/radarChart.scss';
@import '../components/userScore/radialBarChart.scss';

body {
    font-family: $font-text;
    max-width: $max-width;
    max-height: $max-height;
    margin: auto;
}

h1 {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.home-text {

    h1 {
        font-size: 48px;
    }

    margin: auto;
    width: 90%;

    &-p {
        margin-bottom: 4vh;
    }

    &-name {
        color: $red2;
    }
}

.lefSideBar {
    position: absolute;
    width: 117px;
    height: 100vh;
    background-color: $black1;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10vh;

    .lefSideBar-buttons {
        gap: 2vh;
        display: flex;
        flex-direction: column;
    }

    .lefSideBar-text {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        margin: 7vh 0;
        font-size: 12px;
    }
}

header {
    background-color: $black1;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    height: 91px;

    img {
        z-index: 2;
        margin: auto;
        margin-left: 28px;
        width: 178px;
        height: 60.93px;
    }

    nav {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a {
            text-decoration: none;
            color: $white;
        }
    }
}

main {
    margin-left: 117px;
    height: 100%;
}

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-text {
        margin-bottom: 2vh;
    }
}

.dashboard {
    width: 90%;
    display: flex;
    margin: auto;
    gap: 3vw;
    height: 60vh;
    margin-top: 2vh;

    &-user {
        flex: 2.8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3vh;
    }

    &-infos {
        flex: 1;

        .cards {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 3vh;

            .card{
                flex: 1;
                padding-left: 10px;
                background-color: $grey1;
                border-radius: 5px;
                list-style-type: none;
                display: flex;
                align-items: center;
    
                button {
                    margin: 1vw;
                }
            }
        }

        .infos-btn {
            &-value {
                margin: 10px;
                font-size: 20px;
                font-weight: 700;
                color: $black3;
            }
    
            &-title {
                margin: 10px;
                font-size: 14px;
                color: $grey4;
            }
        }
    }

    &-graphs {
        display: flex;
        flex: 1.1;
        gap: 1vw;

        .graph {
            flex: 1;
        }
    }
}

.button-with-icon {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 7px;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
}

.login {
    margin-left: 117px;
    font-size: 26px;

    &-text {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 3vw;
    }

    li {
        list-style-type: none;
       
    }
    a {
        color: $red1;
        text-decoration: none;
    }
}