// police
$font-text: 'Roboto', sans-serif;

// les couleurs
$color-primary: #FF0000;
$color-secondary: #000000;
$color-tertiary: #C4C4C4;
$color-bars: #E60000;
$color-icon : #FF0101;
$radar-color: #8884d8;

// border-radius
// $border-radius-banner: 25px;
// $border-radius-img: 10px;


/* -------------------------
MEDIA QUERIES 
----------------------------*/
// Largeur max
$max-width: 1440px;
$max-height: 1024px;
$min-width: 1024px;
$min-height: 780px;

// breakpoints
// $small: 768px;
// $large: 1200px;

// $small-up: "only screen and (min-width: #{$small})";
// $large-up: "only screen and (min-width: #{$large})";