// police
$font-text: 'Roboto', sans-serif;

// les couleurs
$black1: #000000;
$black2: #282D30;

$white: #FFFFFF;

$red1: #FF0000;
$red2: #FF0101;
$red3:#E60000;

$grey1: #FBFBFB;
$grey2: #DEDEDE;
$grey3: #9B9EAC;
$grey4: #74798C;


/* -------------------------
MEDIA QUERIES 
----------------------------*/
// Largeur max
$max-width: 1440px;
$max-height: 1024px;
//$min-width: 1024px;
//$min-height: 780px;

// breakpoints
 //$medium: 1200px;
 //$large: 1400px;

 //$medium-up: "only screen and (min-width: #{$medium})";
 //$large-up: "only screen and (min-width: #{$large})";

// $large-up: "only screen and (min-width: #{$large})";


:export {
    black1: $black1;
    black2: $black2;
    white: $white;
    red1: $red1;
    red2: $red2;
    red3: $red3;
    grey1: $grey1;
    grey2: $grey2;
    grey3: $grey3;
    grey4: $grey4;
  }
  