.barChart {
    background-color: $grey1;
    border-radius: 5px;
    flex: 1.3;
    
    &-tooltip {
        background-color: $red3;
        color: $white;
        padding: 5px;
        text-align: center;
        font-size: 7px;
        line-height: 15px;
    }

    &-legend {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        &-items {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            color: $grey4
        }
    }
}

.bar:hover {
    border: none;
}